* {
    margin: 0;
    padding: 0;
}

table {
    width: 300px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0px;
    margin-left: 580px;
    font-size: 24px;
}

caption {
    text-align: center;
    color: #ae1818;
    caption-side: top;
    margin-bottom: 10px;
    font-size: 32px;
}

th {
    border: rgb(187, 200, 223) 1px solid;
    color: rgb(112, 100, 207);
    padding: 10px;
    text-align: center;
}

td {
    border: rgb(187, 200, 223) 1px solid;
    color: rgb(66, 140, 158);
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.color2 {
    background-color: rgb(209, 253, 187);
}

.card {
    width: 400px;
    position: absolute;
    top: 80px;
    left: 30px;
    background-color: #ecebeb;
    border-radius: 20px;
    padding: 30px;
}

.title {
    font-size: 24px;
    color: rgb(51, 51, 96);
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    color: rgb(55, 55, 62);
    margin-bottom: 30px;
}

.but {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #3248ef;
    border: none;
    color: white;
    font-size: 16px;
}

.but:hover {
    background-color: #29369d;
    cursor: pointer;

}

.color {
    color: rgb(228, 38, 38);
}

.foto_velo {
    position: absolute;
    top: 80px;
    right: 20px;
    max-width: 600px;
    background-color: #fcf5f5;
    border-radius: 20px;
    cursor: pointer;
}

.img_velo {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}
