* {
    margin: 0;
    padding: 0;
}

.card {
    width: 510px;
    background-color: #ecebeb;
    border-radius: 20px;
    padding: 30px 70px;
    margin: 30px 20px;
}

.card-3 {
    position: absolute;
    top: 70px;
    right: 30px;
    width: 600px;
    height: 400px;
    background-color: #ecebeb;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 600px;
    height: 150px;
    background-color: #ecebeb;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.frame {
    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    border: 1px solid blue;
}

.title {
    font-size: 24px;
    color: rgb(51, 51, 96);
    margin-bottom: 20px;
}

h2 {
    font-size: 42px;
    color: rgb(212, 115, 157);
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: rgb(86, 86, 105);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.head {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 18px;
    color: rgb(55, 55, 62);
    margin-bottom: 30px;
}

#name {
    display: block;
    width: 500px;
    height: 44px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.fieldErrorName {
    display: none;
    width: 400px;
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid red;
    font-size: 16px;
    background-color: beige;
    color: rgb(177, 19, 19);
} 

#text {
    display: block;
    width: 490px;
    height: 100px;
    margin-bottom: 35px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 10px;
    resize:vertical
}

.fieldErrorText {
    display: none;
    width: 400px;
    height: 24px;
    margin-top: -30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid red;
    font-size: 16px;
    background-color: beige;
    color: rgb(177, 19, 19);
}

#email {
    display: block;
    width: 500px;
    height: 44px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.fieldErrorEmail {
    display: none;
    width: 400px;
    height: 24px;
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid red;
    font-size: 16px;
    background-color: beige;
    color: rgb(177, 19, 19);
}

#tel {
    display: block;
    width: 500px;
    height: 44px;
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

.fieldErrorTel {
    display: none;
    width: 400px;
    height: 24px;
    margin-top: -25px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid red;
    font-size: 16px;
    background-color: beige;
    color: rgb(177, 19, 19);
}

.but-1 {
    display: block;
    width: 500px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #3248ef;
    border: none;
    color: white;
    font-size: 16px;
    margin: 20px auto;
}

.but-1:hover {
    background-color: #29369d;
    cursor: pointer;
}

.but-a {
    height: 28px;
    padding: 5px 15px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid blue;
    color: black;
    font-size: 14px;
    margin-left: 20px;
}

.but-b {
    height: 48px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgb(147, 246, 76);
    border: 1px solid #3248ef;
    color: #3248ef;
    font-size: 16px;
    margin-right: 12px;
    margin-bottom: 30px;
    cursor: pointer;
}

.message {
    display: inline-block;
}

.list > li {
    margin-bottom: 20px;
    padding-left: 4px;
}
    
