@import "bootstrap/dist/css/bootstrap.css";

form {
  margin-top: 30px;
}

.text{
  width: 60%;
  border-radius: 4px;
  border: 1px solid sienna;
}

.btn {
  margin-left: 10px;
}

.textArea {
  width: 60%;
  height: 200px;
  border: 1px solid sienna;
  border-radius: 4px;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  color: brown;
  margin: 20px 30px;
}