.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: white;
}

h1 {
    margin-left: 50px;
}

.header_ul {
    display: flex;
    margin-left: 150px;
}

.header_ul>li {
    margin-left: 50px;
    list-style: none;
}